.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    padding: 0;
}
.searchForm{
    display: flex;
    
}
input{
    font-size: 2rem;
}
.searchBtn{
    background-color: black;
    color: white;
    font-size: 1.5rem;
}
.searchBtn:hover{
    background-color: rgb(86, 86, 86);
}
.queryResult{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap:0.5em;
    width: 80%;
}
h2{
    text-align: center;
}
.queryItem{
    text-decoration: none;
    color: black;
}
.moreBtn{
    background-color: black;
    color:white;
    font-size: 1.5rem;
    padding: 0.5em 1em;
    margin-bottom: 1em;
}

.listFilms{
    font-size: 1.5rem;
    list-style: none;
    display:flex;
    flex-direction: column;
    gap:1em;
    padding: 1em;
}
.film{
    text-decoration: none;
    color:black;
    box-shadow: 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    display: flex;
    gap:1em;
    align-items: center;
    
}
.film:hover{
    box-shadow: 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 4px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}