.listContainer{
    display: flex;
    justify-content:space-between;
    width: 70%;
}
.star{
    display: block;
    width: 35px;
    max-height: 35px;
}
.starContainer{
    display: flex;
    align-items: center;
    gap:0.2em;
}
.imageHomepage{
    width: 150px;
}